.roadmap-container-gold {
    padding: 20px;
    background-color: gold;
}

.roadmap-item {
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
}

.roadmap-item:hover {
    background-color: #f0f0f0;
}

.roadmap-item.active {
    background-color: #007BFF;
    color: white;
}

